<div class="main-container container-fluid">
  <ng-container *transloco="let t; read: 'changelog'">
    <div class="changelog">
      <p class="pb-2">
        {{t('description', {installed: ''})}}
        <span class="badge bg-secondary">{{t('installed')}}</span>
        {{t('description-continued', {installed: ''})}}
      </p>

      @for(update of updates; track update; let indx = $index) {

        <div ngbAccordion class="mb-2">
          <div ngbAccordionItem="{{update.updateVersion}}" class="p-2">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <h4>{{update.updateTitle}}&nbsp;
                  @if (update.isOnNightlyInRelease) {
                    <span class="badge bg-secondary">{{t('nightly', {version: update.currentVersion})}}</span>
                  } @else if (update.isReleaseEqual) {
                    <span class="badge bg-secondary">{{t('installed')}}</span>
                  } @else if (update.isReleaseNewer && indx === 0) {
                    <span class="badge bg-secondary">{{t('available')}}</span>
                  }
                </h4>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="update-details">
                    <div class="blog-content" [innerHTML]="update.blogPart | safeHtml"></div>

                    <div class="setting-section-break"></div>

                    <div class="mt-4">
                      <app-update-section [items]="update.added" [title]="'Added'"></app-update-section>
                      <app-update-section [items]="update.changed" [title]="'Changed'"></app-update-section>
                      <app-update-section [items]="update.fixed" [title]="'Fixed'"></app-update-section>
                      <app-update-section [items]="update.developer" [title]="'Developer'"></app-update-section>
                      <app-update-section [items]="update.theme" [title]="'Theme'"></app-update-section>
                      <app-update-section [items]="update.removed" [title]="'Removed'"></app-update-section>
                      <app-update-section [items]="update.api" [title]="'API'"></app-update-section>
                    </div>

                    <div class="setting-section-break"></div>

                    <div class="mb-1 mt-2">
                      <span class="text-muted">{{t('published-label')}}{{update.publishDate | date: 'short'}}</span>
                      @if (!update.isDocker && (accountService.isAdmin$ | async)) {
                        @if (update.updateVersion === update.currentVersion) {
                          <a href="{{update.updateUrl}}" class="btn disabled btn-{{indx === 0 ? 'primary' : 'secondary'}} float-end" target="_blank" rel="noopener noreferrer">{{t('installed')}}</a>
                        } @else {
                          <a href="{{update.updateUrl}}" class="btn btn-{{indx === 0 ? 'primary' : 'secondary'}} float-end" target="_blank" rel="noopener noreferrer">{{t('download')}}</a>
                        }
                      }
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      }
    </div>


    <app-loading [loading]="isLoading"></app-loading>

  </ng-container>
</div>
