.update-body {
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
  p > p {
    margin-bottom: 10px;
  }
}



::ng-deep .changelog  {
  img {
    max-width: 100% !important;
  }
}

.update-details {
  border-radius: 0.5rem;
}

.blog-content {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}


